<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %></title>
</head>
<body>

    <h5>Below is Error Message From EJS </h5>

    <p><%=  error.message  %> </p>
    <p><%=  error.status  %> </p>
    <p><%=  error.stack  %> </p>
  
 



</body>
</html>